<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.wondercom"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:label="@string/app_name"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/x"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <service
            android:name=".MessageService"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.android.wondercom.Main2Activity" /> -->
        </activity>
        <activity
            android:name=".ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.wondercom.Main2Activity" />
        </activity>
        <activity
            android:name=".ViewImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".ChatActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".RecordAudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_record_audio"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_play_video" />
        <activity
            android:name=".FilePickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_file_picker"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="myweburl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawingActivity"
            android:label="@string/title_activity_drawing" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".SmartControl"
            android:parentActivityName=".SCO" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".SmartAccess"
            android:parentActivityName=".ACO" />

        <service
            android:name=".MobileMode"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Flashligh"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Flashlight"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Vibration"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Silent"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".RecentMessages"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Receivers.MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- <receiver -->
        <!-- android:name=".Receivers.MessageReceiver1" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver
            android:name=".SmsSentReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".SmsDeliveredReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receivers.SimChangedReceiver"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FlashlighIS"
            android:exported="false" />
        <service
            android:name=".FlashlightIS"
            android:exported="false" />
        <service
            android:name=".GeneralIS"
            android:exported="false" />
        <service
            android:name=".VibrationIS"
            android:exported="false" />
        <service
            android:name=".LocationIS"
            android:exported="false" />
        <service
            android:name=".LocationS"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LocationSS"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".DND"
            android:exported="false" />
        <service
            android:name=".DNDOFF"
            android:exported="false" />
        <service
            android:name=".WIFION"
            android:exported="false" />
        <service
            android:name=".WIFIOFF"
            android:exported="false" />
        <service
            android:name=".RABON"
            android:exported="false" />
        <service
            android:name=".RABOFF"
            android:exported="false" />

        <activity
            android:name=".Info_About"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".Info_Help"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".SCO"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".ACO"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".SmartControlOM"
            android:parentActivityName=".SCO" />
        <activity
            android:name=".SmartAccessOM"
            android:parentActivityName=".ACO" />
        <activity
            android:name=".InfooS1"
            android:parentActivityName=".Settings"></activity>
        <activity
            android:name=".InfooS2"
            android:parentActivityName=".Settings"></activity>
        <activity
            android:name=".InfooS3"
            android:parentActivityName=".Settings"></activity>
        <activity
            android:name=".InfooS4"
            android:parentActivityName=".Settings"></activity>
        <activity
            android:name=".InfooS5"
            android:parentActivityName=".Settings"></activity>
        <activity
            android:name=".InfooSA1"
            android:parentActivityName=".SmartAccess"></activity>
        <activity
            android:name=".InfooSA2"
            android:parentActivityName=".SmartAccess"></activity>
        <activity
            android:name=".InfooSA3"
            android:parentActivityName=".SmartAccess"></activity>
        <activity
            android:name=".InfooSA4"
            android:parentActivityName=".SmartAccess"></activity>
        <activity
            android:name=".InfooSA5"
            android:parentActivityName=".SmartAccess"></activity>
        <activity
            android:name=".InfooSA6"
            android:parentActivityName=".SmartAccessOM"></activity>
        <activity
            android:name=".InfooSA7"
            android:parentActivityName=".SmartAccessOM"></activity>
        <activity
            android:name=".InfooSA8"
            android:parentActivityName=".SmartAccessOM"></activity>
        <activity
            android:name=".InfooSA9"
            android:parentActivityName=".SmartAccessOM"></activity>
        <activity
            android:name=".InfooSA10"
            android:parentActivityName=".SmartAccessOM"></activity>
        <activity
            android:name=".InfooSC1"
            android:parentActivityName=".SmartControl"></activity>
        <activity
            android:name=".InfooSC2"
            android:parentActivityName=".SmartControl"></activity>
        <activity
            android:name=".InfooSC3"
            android:parentActivityName=".SmartControl"></activity>
        <activity
            android:name=".InfooSC4"
            android:parentActivityName=".SmartControl"></activity>
        <activity
            android:name=".InfooSC5"
            android:parentActivityName=".SmartControlOM"></activity>
        <activity
            android:name=".InfooSC6"
            android:parentActivityName=".SmartControlOM"></activity>
        <activity
            android:name=".InfooSC7"
            android:parentActivityName=".SmartControlOM"></activity>
        <activity
            android:name=".InfooSC8"
            android:parentActivityName=".SmartControlOM"></activity>
        <activity
            android:name=".InfooSC9"
            android:parentActivityName=".SCO"></activity>
        <activity
            android:name=".InfooSC10"
            android:parentActivityName=".SCO"></activity>

    </application>

</manifest>